<haq:content id="styles">
	<style>
		.~container
		{
			float: left;
			font-size: 15px; 
			font-family: Tahoma; 
			color: #556; 
			padding:0;
			text-align: center;
			margin-left: 4px;
			margin-top: 4px;
		}

		.~container:hover { background-position: 0 -100% }
		
		.~container.button-num { width: 34px; line-height: 27px; height: 27px; background-image: url(~/bt_num.png); font-weight: bold; color: #778; }
		.~container.button-mem { width: 34px; line-height: 27px; height: 27px; background-image: url(~/bt_mem.png); font-size: 12px; }
		.~container.button-op  { width: 34px; line-height: 27px; height: 27px; background-image: url(~/bt_op.png); font-size: 11px; }
		.~container.button-0   { width: 73px; line-height: 27px; height: 27px; background-image: url(~/bt_0.png); font-weight: bold; color: #778; clear:left; }
		.~container.button-equ { width: 34px; line-height: 59px; height: 59px; background-image: url(~/bt_equ.png); }
	</style>
</haq:content>
