<style>
    .~~b { float: left; }

    .~~b td { background-image: none; background-position: 0 -100% !important; }

    .~~b.button-num { background-image: url(~/bt_num.png); }
    .~~b.button-mem { background-image: url(~/bt_mem.png); }
    .~~b.button-op  { background-image: url(~/bt_op.png); }
    .~~b.button-0   { background-image: url(~/bt_0.png); }
    .~~b.button-equ { background-image: url(~/bt_equ.png); }

    .~~b span { font-size: 15px; font-family: Tahoma; color: #556; padding:0; }
    
    .~~b:hover { background-position: 0 100% }
    
    .~~b.button-num span { width: 34px; line-height: 27px; height: 27px; font-weight: bold; color: #778; }
    .~~b.button-mem span { width: 34px; line-height: 27px; height: 27px; font-size: 12px; }
    .~~b.button-op  span { width: 34px; line-height: 27px; height: 27px; font-size: 11px; }
    .~~b.button-0   span { width: 73px; line-height: 27px; height: 27px; font-weight: bold; color: #778; clear:left; }
    .~~b.button-equ span { width: 34px; line-height: 59px; height: 59px; }
</style>
