<style>
    .urlmenu { float:left; padding: 0; background: url(~/c.png) repeat-x left top; }
    .urlmenu a { float:left; line-height: 34px; padding: 0 42px; margin:0; list-style: none; cursor: pointer; }
    .urlmenu a.active { background: url(~/c-active.png) repeat-x left top; }
    .urlmenu a:first-child { background: url(~/l.png) no-repeat left top; }
    .urlmenu a:first-child.active { background: url(~/l-active.png) no-repeat left top; }
    .urlmenu a:last-child { background: url(~/r.png) no-repeat right top; }
    .urlmenu a:last-child.active { background: url(~/r-active.png) no-repeat right top; }
</style>