<config>
	<param name="secret" value="abc" />
	
	<param  name="databaseConnectionString"   value="mysql://geography_db:ItyTehs@haqteam.com/geography-dev" />
	<custom name="databaseConnectionStringVK" value="mysql://geography_db:ItyTehs@ex4.haqteam.com/geography-prod" />
	<custom name="databaseConnectionStringOK" value="mysql://geography_db:ItyTehs@ex4.haqteam.com/geography-prod" />
	
	<listeners>
		<websocket name="a" host="events.haquery" port="20001" autorun="true" />
		<!--
		<websocket name="b" host="localhost" port="20002" autorun="true" />
		-->
	</listeners>
</config>
