<style>
    .button
    {
        border-collapse: collapse;
        border: 0;
        padding: 0;
        cursor: pointer;
        background: url(~/bt_r.png) no-repeat top right;
        margin:auto;
    }

    .button .button-inner
    {
        height: 21px;
        background: url(~/bt_l.png) no-repeat;
    }

    .button .button-text
    {
        text-align: center;
        padding: 0 8px !important;
        line-height: 21px;
        font-size: 13px;
        color: #888;
    }
    
    .button.active .button-text
    {
        color: #fff;
    }
</style>

<table id="b" class="button active"><tr><td class="button-inner button-text">OK</td></tr></table>